$btnText:                           #fff;
$btnTextAlt:                        #000;

.big-icon-no-animate {
    font-size: 7em;
    color:dodgerBlue;
}

html {
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.row {
  padding-top: 120px;

}



.bg {
    /* The image used */
    background-image: url("../assets/images/jalesveva.jpg");

    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

.row {
    opacity: 0.8;
}
